*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 50px;
}
.slider{
    display: flex;
    justify-content: center;

}
.images{
    width: 800px;
    height: 500px;
    border: solid 1px #000;
    margin: 0 15px;
    overflow: hidden;
}
button{
    align-self: end;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 30px;
}
img{
    display: block;
    width: 100%;
}